@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

:root {
  --secundario: #753c22;
  --color-letra: #d8d0dd;
  --background: #55240e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ==================== HEADER =========================== */
header {
  background: var(--secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 100px 10px 30px;
  position: fixed;
  width: 100%;
}
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.navbar-list a {
  color: var(--color-letra);
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
.logo {
  width: 70px;
  cursor: pointer;
}

/* =========================== HERO ================================ */
main {
  background: var(--background);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-letra);
  font-family: "Roboto Slab", serif;
}
#hero {
  /* max-width: 1200px; */
  margin-top: 80px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url(./juggernout.jpeg);
  background-position: 0%;
  background-size: 65%;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero-info h1 {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
}

.hero-info p {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 300;
}
.hero-info b {
  font-weight: 800;
}

.hero-info a {
  color: var(--secundario);
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  background: #d8d0dd;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  margin: 5px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.hero-card {
  background: var(--secundario);
  padding: 20px;
  border-radius: 15px;
}
.hero-card img {
  width: 600px;
  border-radius: 15px;
}

.info {
  padding: 40px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-size: 30px;
}
.info-card {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  background: var(--secundario);
  padding: 15px;
  border-radius: 15px;
  margin: 20px;
  gap: 30px;
}
.info-card p {
  font-size: 18px;
}

.info-card img {
  background: #d8d0dd;
  border-radius: 10px;
}

/* ========================== MODOS DE JUEGO ====================== */

#modos-de-juego {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#modos-de-juego h2 {
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  text-transform: uppercase;
}

.descripcion-modos-de-juego {
  font-size: 20px;
  text-transform: uppercase;
  background: #753c22;
  padding: 5px;
  border-radius: 5px;
}

.info-cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* ======================estilo card 1============================== */
.info-coop {
  background: var(--secundario);
  padding: 15px;
  width: 300px;
  height: 380px;
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: inline-start;
  gap: 7px;
  cursor: pointer;
}

.info-coop img {
  width: 250px;
  border-radius: 15px;
  border: 5px solid #d8d0dd;
}

.info-coop h3 {
  font-size: 30px;
}

.info-coop p {
  font-size: 18px;
  text-align: center;
}

/* ======================estilo card 2 ============================== */
.info-daybreak {
  background: var(--secundario);
  padding: 15px;
  width: 300px;
  height: 380px;
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: inline-start;
  cursor: pointer;
  gap: 7px;
}

.info-daybreak img {
  width: 250px;
  border-radius: 15px;
  border: 5px solid #d8d0dd;
}

.info-daybreak h3 {
  font-size: 30px;
}

.info-daybreak p {
  font-size: 18px;
  text-align: center;
}

/* ======================estilo card 3 ============================== */
.info-heartland {
  background: var(--secundario);
  padding: 15px;
  width: 300px;
  height: 380px;
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: inline-start;
  cursor: pointer;
  gap: 7px;
}

.info-heartland img {
  width: 250px;
  border-radius: 15px;
  border: 5px solid #d8d0dd;
}

.info-heartland h3 {
  font-size: 30px;
}

.info-heartland p {
  font-size: 18px;
  text-align: center;
}

.info-coop:hover {
  background-color: #d8d0dd;
  color: #55240e;
  transition: all 0.6s;
  width: 380px;
  box-shadow: 0px 5px 20px -5px #d8d0dd;
}
.info-daybreak:hover {
  background-color: #d8d0dd;
  color: #55240e;
  transition: all 0.6s;
  width: 380px;
  box-shadow: 0px 5px 20px -5px #d8d0dd;
}

.info-heartland:hover {
  background-color: #d8d0dd;
  color: #55240e;
  transition: all 0.6s;
  width: 380px;
  box-shadow: 0px 5px 20px -5px #d8d0dd;
}

/* ============================ redes sociales=================== */

#redes {
  /* max-width: 1200px; */
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 30px;
  background: #753c22;
  width: 100%;
  box-shadow: 0px 5px 20px -5px #d8d0dd;
  margin: 70px 0px 0px 0px;
  background-image: url(./wallpaper_Background-B.jpg);
  background-position: 70%;
}

.redes-sociales {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 15px 400px;
}

#redes h2 {
  /* padding: 10px 400px; */
  font-size: 30px;
  text-transform: uppercase;
  background: #753c22;
  width: fit-content;
  border-radius: 10px;
  padding: 2px 3px;
  font-size: 50px;
}

.redes1 {
  display: flex;
  flex-direction: column;
  width: 40px;
  gap: 30px;
}

.redes2 {
  display: flex;
  flex-direction: column;
  width: 40px;
  gap: 30px;
}

.twitter,
.facebook,
.discord {
  background: #d8d0dd;
  width: 50px;
  border-radius: 15px;
  padding: 5px;
  box-sizing: content-box;
  height: 50px;
  cursor: pointer;
}
.youtube,
.twitch,
.instagram {
  background: #d8d0dd;
  width: 50px;
  border-radius: 15px;
  padding: 5px;
  box-sizing: content-box;
  height: 50px;
  cursor: pointer;
}

.instagram:hover,
.facebook:hover,
.twitter:hover,
.twitch:hover,
.youtube:hover,
.discord:hover {
  background-color: #753c22;
  /* color: #55240e; */
  transition: all 0.6s;
  /* width: 380px; */
}

footer {
  background: var(--background);
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

footer img {
  width: 200px;
  background: #d8d0dd;
  border-radius: 5px;
  opacity: 40%;
}

footer p {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: #d8d0dd;
  font-weight: 300;
  opacity: 50%;
}
